@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 85px;
  }
}

agm-map {
  height: 700px;
  width: 900px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-spacer-5px {
     margin-bottom: 5px;
  }

