<div class="example-container">
    <mat-card >
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput type="username" placeholder="User Name" formControlName="username"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">Wpisz swoją nazwę użytkownika</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Hasło" formControlName="password"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Wpisz swoje hasło</span>
        </mat-error>
      </mat-form-field>
          <button  type="submit" [disabled]="!registerForm.valid" mat-raised-button color="primary">Zarejestruj się</button>
          <button  type="button" mat-stroked-button routerLink="/login">Zaloguj się</button>
  </form>
  </mat-card>
  </div>