<agm-map [latitude]="focusLatitude" [longitude]="focusLongitude" [mapTypeId]="mapType" [zoom]=9 usePanning=true>
  <agm-polyline *ngFor="let car of cars; let in = index" [strokeColor]= "car.Color" 
  [strokeOpacity]="car.IsActive ? 1 : 0.7"
  [strokeWeight]="car.IsActive ? 10 : 5"> 
      <agm-marker
      [latitude]= "car.LastLatitude"
      [longitude]="car.LastLongitude"
      [iconUrl]="
      {url: car.IsActive ? './../../assets/Images/car_icon_active.png' : './../../assets/Images/car_icon.png',
      scaledSize: {
        width: 40,height: 40
      }}"></agm-marker>
    <agm-polyline-point *ngFor="let coordinate of cars[in].GPSCoordinates" [latitude]="coordinate.latitude"
      [longitude]="coordinate.longitude"></agm-polyline-point>     

  </agm-polyline>
</agm-map>
<button mat-raised-button (click)="onSatelite()">Satelita</button>
<button mat-raised-button (click)="onHybrid()">Hybryda</button>
<button mat-raised-button (click)="onRoadMap()">Domyslna</button>