<mat-accordion>
    <mat-expansion-panel *ngFor="let car of cars; let in = index" (opened)="setCarActive(car)" (closed)="car.IsActive = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{car.CarName}}
        </mat-panel-title>
        <mat-panel-description>
          Id: {{car.CarId}}, ilość współrzędnych: {{car.GPSCoordinates.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
        <div class="container">
            <div class="row">
                Przejechany dystans: {{car.Distance | number}} km
                Ostatnie współrzedne: {{car.LastLatitude | number: '2.6'}}, {{car.LastLongitude | number: '2.6'}}
            </div>
            <div class="row">
                <mat-slide-toggle [(ngModel)]="moreOptions" (click)="onMoreOptions(car)">Więcej opcji</mat-slide-toggle> 
            </div>
            <div *ngIf="moreOptions">
              <div class="column">
              <div class="row center">
                Wybierz z kiedy pokazać dane.
              </div>
              <div class="row">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" [(ngModel)]="selectedDate" (ngModelChange)="onClickCalendar(car)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker   #picker></mat-datepicker>
                </mat-form-field>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onClickToday(car)">
                    <span>Dzisiaj</span>
                  </button>
                  <button mat-menu-item  (click)="onClickThisWeek(car)">
                    <span>Ostatni tydzień</span>
                  </button>
                  <button mat-menu-item (click)="onClickAll(car)">
                    <span>Cały okres</span>
                  </button>
                </mat-menu>
              </div>
              </div>
              <div class="column">

                <canvas  baseChart class="chart"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [legend]="pieChartLegend"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
              </div>
            
          
      </mat-panel-description>
  
    </mat-expansion-panel>
  </mat-accordion>